*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

.App {
  background-color: #d8d8c4;

  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #000000;
  color: #ffffff;
  /* width: 100%; */
  padding: 20px;
}

.main_container {
  /* height: 100%; */
  min-height: 100vh;
  display: flex;
}

.sidebar {
  width: 13%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

.article {
  width: 87%;
  display: flex;
  flex-wrap: wrap;
}

.card_section {
  background-color: #ffffff;
  margin: 10px;
  padding: 5px;
  text-align: center;
  /* min-width: fit-content; */
  width: 210px;
  height: fit-content;
  flex-grow: 1;
}

.card_title {
  font-weight: bold;
}

.card_rating {
  display: inline;
  float: right;
  background-color: #000000;
  color: #fbff00;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
}

.card_price {
  display: inline;
  float: left;
  background-color: #000000;
  color: #ff5ce4;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
}

button {
  display: block;
  background-color: transparent;
  color: #ff00aa;
  margin: 5px 0;
  padding: 5px;
}

button:hover {
  cursor: pointer;
  color: #c8ff00;
}
